#backToList{
	float: left;
}

#saveDrawing{
	float: right;
}

#canvas, .drawing-image {
	border-style: solid;
	border-width: 1px;
	
}

@media all and (max-device-width = 640px) {
	#canvas{
		width: 500px;
		height: 500px;
}

@media all and (min-device-width = 641px){
	#canvas{
		heigth: 800px;
		width: 640px;
	}
}
